body
{background-color: white;}


#banner{
    display: flex;
margin: auto;

}

#imgbanner{position: relative;

}

#h{
    position: absolute;
 padding-top: 10%;
 padding-left: 25%;
    
}

#destaque{
margin-left: 5%;
margin-right: 5%;
padding: 2%;/*margem interna de todos os lados*/}

#navbar{
display: flex;
justify-content: space-around;
background-image: radial-gradient(circle at top right, #ff9bb4, #ff507b, #ff7a2d, #f55a00 );
border-radius: 15px;
margin: auto;
}

a{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(0, 0, 0);}

.container{ 
display: flex;
justify-content: space-between;
padding: 100px;
margin-top: 100px;
background-image: radial-gradient(circle at top right, #ff9bb4, #ff507b, #ff7a2d, #f55a00 );
width: 100%;
height: 300px;
-webkit-transform: skewY(-1.5deg);
-moz-transform: skewY(-1.5deg);
-ms-transform: skewY(-1.5deg);
-o-transform: skewY(-1.5deg);
transform: skewY(-1.5deg);
border-radius: 15px;
width: 80%;
height: 250px;}

.noticiaTexto{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    margin-top: 100px;
    background-image: radial-gradient(circle at top right, #ff9bb4, #ff507b, #ff7a2d, #f55a00 );
    width: 100%;
    height: 300px;
    -webkit-transform: skewY(-1.5deg);
    -moz-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
    -o-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);
    border-radius: 15px;
    width: 80%;
    height: 250px;}

.redes{
    display: flex;
    margin: auto;
}
.resumo{
font-size: 25px;

}

.contato{display: flex;
    justify-content: space-evenly;
    padding: 100px;
    margin-top: 100px;
    background-image: radial-gradient(circle at top right, #ff9bb4, #ff507b, #ff7a2d, #f55a00 );
    width: 100%;
    height: 300px;
    
    border-radius: 15px;
    width: 80%;
    height: 300px;}
        

#teste{
display: flex;}

#item{
height: 100px;
width: 100px; 
background-color: white; }

#titulo2{
width: 100%;}

#rodape{ 
background-image: radial-gradient(circle at top right, #f7a2a2, #ee6e6e, #f72121, #eb0000 );
height: 300px;
position: relative;
padding-top: auto;

}
#rodapetexto{
margin: auto;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 40px;
position: absolute;
padding-top: 9%;
 padding-left: 20%;

}
#saibaMais{
background-color: rgba(235, 23, 23, 0.425);
border-radius: 5px;

} 
#topico{
   font-family: 'Anton', sans-serif;
   font-size: 20px;
}

#titulo{
font-family: sans-serif;
color: #380b61;
margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: #380b61;
    margin-left: 10%;
}
fieldset{
    border: 0;
}
#corpoformulario{
    background-color: #F0F8FF;
    font-family:sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    margin: auto;
}
input, select, textarea, button{
border-radius: 5px;
font-size: 1em;
color: #59429d;
border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
    }
.campo label{
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}
fieldset.grupo .campo{
float: left;
margin-right: 1em;
}

.campo[type="text"],.campo input[type="E-mail"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus/* focus quando você crica ele vai aplicar esse CSS*/{
    background:#e0e0f8;
    }
.botao{
font-size: 1.2em;
background: #59429d;
border: 0;
margin-bottom: 1em;
color: white;
padding: 0.2em 0.6em;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
top: 90%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
}
.botao:hover /*esse efeito só vai aparecer quando você passar o mouse em cime */{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
} 
#check{
    display: inline-block;
}
.botao, select{
    cursor: pointer;
}