body
{background-color: rgb(156, 155, 206);}

#destaque{
margin-left: 5%;
margin-right: 5%;
padding: 2%;/*margem interna de todos os lados*/}

#navbar{
display: flex;
justify-content: space-between;
background-color: #9035e0;}

a{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(0, 223, 77);}

.container{ 
display: flex;
justify-content: space-between;
padding: 100px;
    
background-color: orange;
border: black 1px solid;
border-radius: 15px;
width: 80%;
height: 250px;}

.resumo{
font-size: 25px;
}

#titulo2{
color: white;
text-align: center;}          

#teste{
display: flex;}

#item{
height: 100px;
width: 100px; 
background-color: white; }

#titulo2{
width: 100%;}
   
   